// abstracts
@import './abstract/mixins';
@import './abstract/variables';
// base
@import './base/reset.scss';
// components
@import './components/footer';
@import './components/nav';
@import './components/responsive';
// pages
@import './pages/about';
@import './pages/contact';
@import './pages/home';
@import './pages/projects';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");

body {
    font-family: $fontFamily;
    background-color: $primaryColor;
    height: 100vh;
    line-height: 1;
    color: $textColor;
}
a {
    color: $textColor;
    text-decoration: none;
}
h1, h2, h3{
    font-weight: 400;
}