// abstracts
@use './abstract/mixins';
@use './abstract/variables';
// base
@use './base/reset.scss';

// pages
@use './pages/about';
@use './pages/contact';
@use './pages/home';
@use './pages/projects';

// components
@use './components/footer';
@use './components/nav';
@use './components/responsive';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");

body {
    font-family: variables.$fontFamily;
    background-color: variables.$primaryColor;
    height: 100vh;
    line-height: 1;
    color: variables.$textColor;
}
a {
    color: variables.$textColor;
    text-decoration: none;
}
h1, h2, h3{
    font-weight: 400;
}